body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/COVERPAGE.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.allContainer {
  padding-top: 80px;
  height: 100%;
  width: 100%;
}

.greyME2 {
  color: rgb(167, 162, 162);
}

.break {
  word-break: break-word;
}

.approveOrReject {
  display: flex;
}

.points {
  color: green;
}
.points:hover {
  color: rgb(13, 80, 13);
}

.colorME {
  color: white;
}

.form-control {
  background: transparent;
  color: white;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid gray;
}

.defaultBackground {
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.whiteBackground {
  padding: 10px !important;
  border-radius: 10px;
  background: linear-gradient(rgba(199, 199, 199, 0.6), rgba(0, 0, 0, 0.6));
}

.tenPxMargin {
  margin: 10px !important;
}

.greyME2:hover {
  color: whitesmoke;
  text-decoration: none;
}
